<VirtualHost *:80>
   ServerName 3.82.236.204
   ServerAlias 3.82.236.204
   DocumentRoot /var/www/html/{{vhost_name}}/public
   
   <Directory /var/www/html/{{vhost_name}}>
       AllowOverride All
   </Directory>
   ErrorLog ${APACHE_LOG_DIR}/error.log
   CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>

